.tab-wrap {
  padding: 50px 0;
  background: #efeeee;
  .inner {
    width: 1020px;
  }
  .tab-title {
    text-align: center;
    span {
      display: block;
      margin-bottom: 5px;
      font-weight: normal;
      font-size: 18px;
      color: #999;
    }
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 34px;
  }
  .tab-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    margin-bottom: 10px;
    li {
      width: 100%;
      padding: 12px 0;
      margin: 0 5px;
      text-align: center;
      border: 1px solid #eee;
      background: #fff;
      box-shadow: 0 2px 5px rgba(27, 31, 35, 0.1);
    }
    .react-tabs__tab--selected {
      color: #fff;
      background: #2ac1bc;
    }
  }
  .tab-panel {
    display: flex;
    justify-content: space-between;
    align-items: top;
    > div {
      position: relative;
      width: 100%;
      margin: 0 10px;
      border: 1px solid #eee;
      background: #fff;
      box-shadow: 0 2px 5px rgba(27, 31, 35, 0.1);
      .hover-text {
        display: none;
      }
      .item-info {
        display: flex;
        flex-direction: column;
        padding: 0 10px;
        text-align: left;
        height: 165px;
      }
      .item-price {
        margin-top: auto;
        text-align: right;
      }
      .item-badge {
        position: absolute;
        left: 10px;
        top: 190px;
      }
    }
  }
}
